extends layout

block content
    p.project-title
        a=title
    div.project-container
        each item in fileList
            div.item
                h3=item.name
                a(href=item.url)
                    button download
                p
                    span 最近更新时间：
                    span= item.lastModified
